<app-header/>

<main>
    <ul id="users">
        <li>
            <app-user 
                [user]="users[0]" 
                (select)="onSelectedUser($event)"
            />
        </li>
        <li>
            <app-user 
                [user]="users[1]" 
                (select)="onSelectedUser($event)"
            />
        </li>
    </ul>   
    
    <!-- [name]="selectedUser ? selectedUser.name : 'undefined user'" -->
    <app-tasks
        [name]="selectedUser?.name" 
    />

</main>

